body {
  font-family: Rockwell, Arial, Helvetica, sans-serif;
  color: #41433F;

  --double-x-sm-gap: 0.6rem;
  --x-sm-gap: 1.2rem;
  --sm-gap: 2rem;

  --sm-heading-font-size: 1.8rem;
  --text-font-size: 1.4rem;

  --sidebar-logo-height: calc(var(--sm-heading-font-size) + 1rem);
  --sidebar-icon-height: calc(var(--text-font-size) + 0.6rem);

  /* colors */
  --lotion: #FBFBFC;
  --chinese-white: #DEECD8;
  --light-moss-green: #BADBB2;
}

.grid {
  display: grid;
}

.col-gap-sm {
  grid-column-gap: var(--sm-gap);
}

.page {
  grid-template-columns: 1fr 4fr;
}

/* -- HEADER -- */
.header {
  grid-column: 2 / 3;
  background-color: #F4F4F7;
}

.header > div {
  grid-template-columns: 0.65fr 0.35fr;
  grid-column-gap: 8rem;
  padding: 0 2.4rem 0 2.4rem;
}

.search-box {
  grid-template-columns: min-content minmax(auto, 85%);
  grid-column-gap: 1rem;
  align-items: center;
}

.user-box {
  grid-template-columns: min-content min-content max-content; 
  column-gap: var(--x-sm-gap);
  align-items: center;
}

.header-icon {
  height: var(--sidebar-icon-height);
}

.header-logo {
  color: var(--light-moss-green);
  height: 3.6rem;
}

.username-sm {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 0.2rem;
}

.greeting-box {
  grid-template-columns: min-content minmax(auto, 75%);
}

.button-box {
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

/* -- SIDEBAR -- */
.sidebar {
  grid-row: 1 / span 2;
  background-color: #79AD75;
  padding: var(--sm-gap);

  grid-row-gap: 3rem;
  grid-auto-rows: min-content;

  color: var(--lotion);
}

.sidebar > div { /* Sidebar top, mid, and bottom groups */
  grid-template-columns: 1fr 4fr;
  grid-row-gap: var(--x-sm-gap);
}

#sidebar-top {
  font-size: var(--sm-heading-font-size);
  align-items: center;
}


.sidebar-logo {
  justify-self: center;
  height: var(--sidebar-logo-height);
}

.sidebar-item {
  align-self: end;
}

#sidebar-mid, #sidebar-bottom {
  font-size: var(--text-font-size);
}

.sidebar-icon {
  justify-self: center;
  height: var(--sidebar-icon-height);
}

/* -- MAIN CONTENT -- */
.main-content {
  grid-column: 2 / 3;
  background-color: #EFF1ED;
  padding: 1.2rem;

  grid-template-columns: 3fr 1fr;
  column-gap: 1.4rem;
}

.your-projects {
  grid-area: 1 / 1 / 3 / 2;
}

.project-cards {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.4rem;
}

.project-card {
  background-color: #FBFBFC;
  padding: 0 1.8rem 0 1.8rem;
}

.project-card-tools {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.6rem;
  justify-self: end;
}

.meta-content {
  grid-column: 2 / 3;
}

.announcements,
.trending {
  padding: 1.2rem;
  padding-top: 0;
}

.trending > div {
  grid-template-columns: min-content max-content;
  grid-column-gap: 1rem;
}
