* {
  box-sizing: border-box;
}

body {
  font-family: Rockwell, Arial, Helvetica, sans-serif;
  color: #41433F;

  --double-x-sm-gap: 0.6rem;
  --x-sm-gap: 1.2rem;
  --sm-gap: 2rem;

  --sm-heading-font-size: 1.8rem;
  --text-font-size: 1.4rem;

  --sidebar-logo-height: calc(var(--sm-heading-font-size) + 1rem);
  --sidebar-icon-height: calc(var(--text-font-size) + 0.6rem);

  /* colors */
  --lotion: #FBFBFC;
  --chinese-white: #DEECD8;
  --light-moss-green: #BADBB2;
  --fuzzy-wuzzy: #D56671;
}

.grid {
  display: grid;
}

.col-gap-sm {
  grid-column-gap: var(--sm-gap);
}

.page {
  grid-template-columns: 1fr 4fr;
}

/* -- HEADER -- */
.header {
  grid-column: 2 / 3;
  background-color: #F4F4F7;
}

.header > div {
  grid-template-columns: 0.65fr 0.35fr;
  grid-column-gap: 8rem;
  padding: 0 2.4rem 0 2.4rem;
}

.search-box {
  grid-template-columns: min-content minmax(auto, 85%);
  grid-column-gap: 0.4rem;
  align-items: center;
}

.search-box label {
  padding-top: 0.6rem;
}

#search-bar {
  height: 2rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  background-color: #D1D2D1;
  border: none;
  border-radius: 1rem;
}

.magnify {
  height: 1.8rem;
}

.user-box {
  grid-template-columns: min-content min-content max-content; 
  column-gap: var(--x-sm-gap);
  align-items: center;
}

.header-icon {
  height: var(--sidebar-icon-height);
}

.header-logo,
.header-logo-lg {
  color: var(--light-moss-green);
}

.header-logo {
  height: 3.6rem;
}

.username-sm {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 0.2rem;
}

.greeting-box {
  grid-template-columns: min-content minmax(auto, 75%);
}

.header-logo-lg {
  height: 7rem;
}

.button-box {
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-column-gap: 0.8rem;
  place-items: center;
}

.button-box button {
  background-color: var(--fuzzy-wuzzy);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  color: var(--lotion);
  padding: 0.4rem 1rem 0.5rem 1rem;
}

/* -- SIDEBAR -- */
.sidebar {
  grid-row: 1 / span 2;
  background-color: #79AD75;
  padding: var(--sm-gap);

  grid-row-gap: 5rem;
  grid-auto-rows: min-content;

  color: var(--lotion);
}

.sidebar > div { /* Sidebar top, mid, and bottom groups */
  grid-template-columns: 1fr 4fr;
  grid-gap: var(--x-sm-gap);
}

#sidebar-top {
  font-size: var(--sm-heading-font-size);
  align-items: center;
}


.sidebar-logo {
  justify-self: center;
  height: var(--sidebar-logo-height);
}

.sidebar-item {
  align-self: end;
}

#sidebar-mid, #sidebar-bottom {
  font-size: var(--text-font-size);
}

.sidebar-icon {
  justify-self: center;
  height: var(--sidebar-icon-height);
}

/* -- MAIN CONTENT -- */
.main-content {
  grid-column: 2 / 3;
  background-color: #EFF1ED;
  padding: 1.2rem;

  grid-template-columns: 3fr 1fr;
  gap: 1.4rem;
}

.your-projects {
  grid-area: 1 / 1 / 3 / 2;
}

.project-cards {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.4rem;
}

.project-card {
  background: linear-gradient(90deg, var(--fuzzy-wuzzy) 0% 2.4%, var(--lotion) 2.4% 100%);
  padding: 0 1.8rem 0 1.8rem;
  border-radius: 1rem;

  grid-template-rows: 1fr 2fr 1fr;
}

.project-card-tools {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.6rem;
  justify-self: end;
}

.project-card-tools svg {
  height: 1.8rem;
}

.announcements-box {
  grid-row: 1 / 2;
}

.trending-box {
  grid-row: 2 / 3;
}

.announcements,
.trending {
  background-color: var(--lotion);
  padding: 1.2rem;
  border-radius: 1rem;
}

.announcements > div:not(:last-child) {
  border-bottom: 1px solid #A9AAA7;
  padding-bottom: 1rem;
}

.announcement-body {
  font-size: 0.8rem;
}

.trending-peeps {
  display: grid;
  grid-row-gap: 1.2rem;
}

.trending-peeps > div {
  grid-template-columns: min-content max-content;
  grid-column-gap: 1rem;
}

.trending img {
  height: 3.2rem;
}

.trend-setter > div {
  align-self: end;
}
