.page {
  display: grid;
  grid-template-areas: 1fr 5fr / 1fr 4fr;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  
  border: 1px solid red;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  
  background-color: #BADBB2;
  border: 1px solid blue;
}

.projects {
  grid-area: 2 / 2 / 3 / 3;

  background-color: #fafaf9;
  border: 1px solid green;
}
